@font-face {
    font-family: "Oswald-s";
    src: url("fonts/Oswald/Oswald-Stencil.ttf");
    font-weight: 900;
}
/* */
@font-face {
    font-family: "Oswald-e-l";
    src: url("fonts/Oswald/Oswald-Extra-LightItalic.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "Piedra2";
    src: url("fonts/Piedra/Piedra-Regular.ttf");
}
@font-face {
    font-family: "Pangolin";
    src: url("fonts/Pangolin/Pangolin-Regular.ttf");
}    
@font-face {
    font-family: "Dancing";
    src: url("fonts/DancingScript-VariableFont_wght.ttf");
}    
body{
    background-image: url(../img/IMG_20200418_130829.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 50%;
}

h1 {
text-align: center;
font-family: 'Pangolin', Arial;
}

#eltolt {
    position: relative;
    left: 10%;
    font-family: 'Piedra2', Arial;
    font-size: 40px;
}

#eltolt1 {
    position: relative;
    left: 10.5%;
}
#eltolt2 {
    position: relative;
    left: 25%;
}
#eltolt3 {
    position: relative;
    left: 18%;
    font-family: 'Pangolin', Arial;
}
#szív {
    position: fixed;
    left: -5% ;
    top: 1%;
}

#Cupi {
    position: relative;
    top: -50px;
    left: 185%;
    /*left:93.3% ;*/
}
